@model GoodsFinder.Models.Model1
<html>
<head>
    <link rel="stylesheet" href="style.css" />
    <script type="text/javascript">
    </script>
</head>
<body>
    <div data-role="page" data-theme="b">



    </div>
</body>
</html>	